@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: Idroid ;
    src: url(../fontes/idroid.otf) format(opentype);
    font-weight: normal;
}

*{
    margin: 0px;
    padding: 0px;   
}
:root{
    --cor0: #44A133;
    --cor1: #33A170;
    --cor2: #2ac94c;
    --cor3: #72A133;
    --cor4: #33a1949b;
    --cor5: #69A175;
    --cor6: #3561b9b6;
    --cor7: #094b09;
    --cor8: #107410;
    --cor9: #73eb8db5;
    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive; 
    --font-android: 'Idroid', cursive ;
}
body{
    background-color: #ebf8bd97;
}
header{
    background-image: linear-gradient(to bottom, var(--cor8), var(--cor7));
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}
header > h1{
    color: white;
    font-family: var(--fonte-destaque);
    margin-bottom: 20px;
    font-size: 3em;
    text-shadow: 5px 6px 5px #00000073;
}
header > p{
    color: white;
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    max-width: 500px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
    text-shadow: 5px 6px 5px #000000ab;
}
main{
    padding: 20px;
    min-width: 300px;
    max-width: 1000px;
    background-color: white;
    margin: auto;
    margin-bottom: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.37);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
main strong{
    color: var(--cor8);
    
}
main p{
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 2em;
}
main > article > h1{
    color: var(--cor0);
    font-family: var(--font-android);    
}
main > article > h2{
    color: var(--cor3);
    font-family: var(--font-android);
    background-image: linear-gradient(to right, var(--cor9), transparent);
    text-indent: 8px;
}
nav{
    background-color: var(--cor7);
    padding: 10px;
    box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.419);
}
nav > a{
    color: white;
    padding: 10px;
    font-weight: bold;
    border-radius: 5px;
    transition-duration: 0.5s;
}
nav > a:hover{
    background-color: var(--cor2);
}
main a{
    /*text-decoration: none;
    color: rgb(48, 78, 248);*/
    text-decoration: none;
    font-weight: bold;
    color: var(--cor7);
    background-color: var(--cor9);
    padding: 2px 6px;
}
a:hover{
    text-decoration: underline;
    color: darkblue;
}
aside{
    background-color: var(--cor9);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.308);
}
aside > ul{
    list-style-type: '\2713\00A0\00A0';
    list-style-position: inside;
    columns: 2;
}
aside > h3{
    background-color: var(--cor0);
    color: white;
    padding: 5px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}
footer{
    background-color: var(--cor7);
    color: white;
    text-align: center;
    padding: 5px;
}
footer a{
    text-decoration: none;
    font-weight: bold;
    color: white;
}
footer a:hover{
    color: var(--cor9);
    text-decoration: underline;
}
img{
    width: 100%;
}
img.pequena{
   max-width: 350px;
   display: block;
   margin: auto;
}
.link-externo::after{
    content: '\00A0\1F517';
}
.video{
    background-color: var(--cor8);
    border-radius: 5px;
    padding: 15px;
    margin: 0px -20px 40px -20px;
    padding-bottom: 40%;
    position: relative;
}
.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 88%;
    height: 88%;
}